<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="hibernate.show_sql">true</property>
<property name="connection.autocommit">true</property>
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

<mapping resource="event.hbm.xml"/>
<mapping resource="nasdaq.hbm.xml"/>
<mapping resource="nikkei.hbm.xml"/>
<mapping resource="dax.hbm.xml"/>
</session-factory>
</hibernate-configuration>
